<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
    <h1><%= titulo %></h1>
    <form action="nueva-mascota" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <input type="text" name="nombre_mascota">
        <input type="text" name="imagen_mascota">
        <input type="submit" value="Guardar mascota">
    </form>
</main>

<%- include('partials/footer.ejs') %>